* {
    /* border: 1px solid blue; */
}

body {    
    background-color: #24242E;
    background-image: url('https://img.glyphs.co/img?q=85&w=900&src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL2Jsb2ctaW1hZ2VzL0NCQk0tSW1hZ2UtMjUuanBnP210aW1lPTIwMTkwMjI1MjMyNDIy');
    /* padding: 25px; */
    color: white;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#account-options {
    display: flex;
    flex-direction: column;
    /* width: 15%; */
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* Cor da borda direita */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); /* Sombra na borda direita */
    /* padding-right: 20px; */
}

#account-options .logo {
    display: flex;
    margin-bottom: 25px;
}

#account-options .logo span {
    line-height: 75px;        
    margin-left: 15px;
    font-size: 28px;
    font-weight: bold;
}

#account-options .logo img {
    height:70px;
    width: 70px;
}

li p {
    margin-left: 15px;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    margin: 25px;
}

#account-options ul {
    list-style-type: none;
    padding: 0;
}

#account-options a {
    text-decoration: none;
    color: grey;
}

#account-options li {
    padding: 0;
    margin: 0;
}

#account-options li a span {
    font-size: 14px;
    margin-left: 25px;
    line-height: 22px;
    margin-right: 40px; 
}

#account-options li a i {
    font-size: 20px;
}

#account-options .option {
    padding: 20px;
}

.selected {
    background-color: #5F1F31;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

li hr {
    width: 80%;
    border-color: grey;
    margin-top: 25px;
    margin-bottom: 25px;
}

.notify-info {
    color: white; 
    border: 1px solid #FFD43B;
    background-color: #FFD43B;
    padding: 2px 8px;
    border-radius: 100%;
}

.notify-info i {
    font-size: 5px;
}

.option-text {
    display: inline-block;
    width: 75px; 
}

#dashboard {
    display: flex;
    flex-direction: column;
}

#dashboard #intro {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px; */
}


#dashboard #right-intro {
    display: flex;
    flex-direction: row;
}

#right-intro .profile-pic img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* border: 1px solid grey; */
}

#dashboard h1 {
    font-size: 42px;
}

#dashboard .creation-card {
    /* background-color: black; */
    /* border-radius: 25px;
    padding: 50px;
    padding-bottom: 75px;
    position: relative; */
}

.creation-card img {    
    /* top: 0;
    right: 0; */
    /* width: 100%;      */
    /* border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px; */
}


#dashboard .creation-card h2 {
    font-size: 38px;
}

#dashboard .creation-card h5 {
    font-size: 16px;
    color: grey;
    /* margin-bottom: 50px; */
}

#dashboard .creation-card a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#dashboard .creation-btn {
    padding: 15px 50px;
    border-radius: 15px;
    background-color: red;
    margin-bottom: 50px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

#bets-card {
    /* border: 1px solid blue; */
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 15px;
    display: flex;
}

#bet-list {
    /* display: flex;
    flex-direction: column; */
    /* width: 50%; */
    /* margin-right: 35px; */
}

#bet-list li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 15px;
    /* background-color: red; */
}

#bet-list li img {
    height: 125px;
    width: 125px;
    border-radius: 10px;
    margin-right: 25px;
}

.bet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bet-info span {
    color: white !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.bet-info h4 {
    color:  grey;
    font-size: 16px;
}

.bet-info h3 {
    display: inline;
    padding: 5px 20px;
    text-align: center;
    border-radius: 25px;
    color: greenyellow;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: normal;
}

.choice-img img {
    height: 150px;
    width: 150px;
}

#bets-card .bet-resume {
    display: flex;
    flex-direction: column;
    /* padding: 15px; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;    
}

.bet-resume h2 {
    color: white;
}

.bet-resume h4, p {
    color: grey;
    /* margin-top: 5px; */
    font-size: 20px;
}

.choice-img h3 {
    text-align: center;
    color: white;
}

.sb-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.bet-resume a {
    display: inline;
    text-decoration: none;
    border: 1px solid red;
    padding: 15px 35px;
    border-radius: 15px;
    margin: auto;
    color: white;
    margin-top: 10px;
}

.room-participants {
    margin-top: 50px;
    padding: 10px;
}

.room-participants ul {
    /* list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.room-participants img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 15px;
}

.room-participants p {
    margin-top: 15px;
    color: grey;
}


@media (min-width: 576px) {
    .bg-img {
        background-image: url('../img/faceoff.png');
        background-size: auto 140%;
        background-repeat: no-repeat;
        background-position: top right;        
    }

    .btn {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .bg-img {
        background: rgba(255, 255, 255, 0.1) !important;
    }

    .btn {
        width: 100%;
    }
}
